/*============================================
        copyright css part start here
==============================================*/
#copyright_part{
    width: 100%;
    height: 45px;
    background: #555555;
    .copyright_body{
        text-align: center;
        padding-top: 12px;
        p{
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 0;
                span{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        color: #5bc5f3;
                        text-transform: capitalize;
                }
        }
    }
}
/*============================================
        copyright css part ends here
==============================================*/